*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin: 40px;
}

.content{
  margin-left: 45px;
}

.content div{
  background-color:	#C0C0C0;
  margin-right: 15px;
  margin-left: 15px;
  margin-top:20px;
  border-style:solid;
  border-width: 1px;
}

h3{
  width: 100px;
  margin-top:-1px;
  margin-right: -1px;
  padding: 10px;
  border-color: black;
  border-width: 1px;
  border-style:solid;
  float:right;
  text-align: center;
  position: relative;

}

p{
  margin-top:50px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
}

#one > h3{
  background-color: #FFC0CB;
}

#two > h3{
  background-color: #DC143C;
  color: white;
}

#three > h3{
  background-color: #32CD32;
}

/*Desktop CSS*/
@media (min-width: 992px){

  #one{
    float:left;
    width: 30%;
  }
  #two{
    float:left;
    width: 30%;

  }
  #three{
    float:left;
    width: 30%;
  }
}

/*Tablet CSS*/
@media (min-width: 768px) and (max-width: 991px){
  .content{
    margin:20px;
  }

  .content div{
    height:40%;
  }

  #one{
    float:left;
    width: 45%;
  }
  #two{
    float:right;
    width: 45%;
  }
  #three{
    margin-top: 30px;
    float:left;
    width: 96.2%;
    margin-right: 40px;
  }
}

/*Mobile CSS*/
@media only screen and (max-device-width: 767px){
  .content{
    margin:20px;
  }

  p{
    padding-top:50px;
    padding-bottom:20px;
    margin-top:3px;
  }

}
